<%= form_with model: @task_organization do |f| %>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>

    <div>
        <%= f.label :body %>
        <%= f.text_field :body %>
    </div>

    <%= f.submit "Create Task Organizations" %>
<% end %>