<p id="notice"><%= notice %></p>


<div class="container-sm">
<p>
  <p class="text-center"><strong class="fs-1">Name</strong></p>
  <p class="text-center" class= "fs-2"><%= @article.name %></p>
</p>

<p>
  <p class="text-center"><strong class="fs-1">Body</strong></p>
  <p class="text-center" class= "fs-2"><%= @article.body %></p>
</p>

<p class="text-center"><%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %></p>
</div>
