<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @loan.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @loan.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @loan.age %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @loan.amount %>
</p>

<p>
  <strong>Code:</strong>
  <%= @loan.code %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
